@using Radzen
@using Radzen.Blazor
@using Microsoft.AspNetCore.Components
@using ProSuite.DdxEditor.Content.Blazor.ViewModel

@inherits TestParameterValueDataGridBlazorBase

<div class="container-fluid">
	<div class="row">
		<div class="col-auto">
			<UpDownButtonsBlazor Grid="DataGrid" OnUpClicked="OnUpClicked" OnDownClicked="OnDownClicked" OnDeleteClicked="OnDeleteClicked"/>
		</div>
		<div class="col">
			<RadzenDataGrid @ref="DataGrid"
			                TItem="ViewModelBase"
			                Data="Rows"
			                SelectionMode="DataGridSelectionMode.Single"
			                AllowColumnResize="true"
			                AllowRowSelectOnRowClick="true"
			                @bind-Value="SelectedRows"
							RowClick="OnRowClick"
							LoadData="OnLoadData">
				<Columns>
					<RadzenDataGridColumn TItem="ViewModelBase" Property="ParameterName" Title="Parameter" Width="150px"/>
					<RadzenDataGridColumn TItem="ViewModelBase" Resizable="false" Width="38px">
						<Template Context="viewModel">
							@if (viewModel is DatasetTestParameterValueViewModel vm)
							{
								<RadzenImage Path="@vm.ImageSource"></RadzenImage>
							}
						</Template>
					</RadzenDataGridColumn>
					<RadzenDataGridColumn TItem="ViewModelBase" Property="Value" Title="Value">
						<Template Context="subViewModel">
							<DynamicComponent Type="subViewModel.ComponentType" Parameters="subViewModel.ComponentParameters"/>
						</Template>
					</RadzenDataGridColumn>
					<RadzenDataGridColumn TItem="ViewModelBase" Property="FilterExpression" Title="Filter Expression">
						<Template Context="subViewModel">
							@if (subViewModel is DatasetTestParameterValueViewModel vm)
							{
								<SqlExpressionBlazor @bind-value="vm.FilterExpression" 
								                     QueryBuilderCallback="vm.ShowFilterExpressionBuilder" 
								                     ExpressionChanged="vm.FilterExpressionChanged"></SqlExpressionBlazor>
							}
						</Template>
					</RadzenDataGridColumn>
					<RadzenDataGridColumn TItem="ViewModelBase" Property="UsedAsReferenceData" Title="Reference" Width="80px">
						<Template Context="subViewModel">
							@if (subViewModel is DatasetTestParameterValueViewModel vm)
							{
								<RadzenCheckBox @bind-Value="vm.UsedAsReferenceData"/>
							}
						</Template>
						<EditTemplate Context="subViewModel">
							@if (subViewModel is DatasetTestParameterValueViewModel vm)
							{
								<RadzenCheckBox @bind-Value="vm.UsedAsReferenceData"/>
							}
						</EditTemplate>
					</RadzenDataGridColumn>
				</Columns>
			</RadzenDataGrid>
		</div>
	</div>
</div>
