<style>
    .ui-button {
	    border-radius: 0;
	    border: 1px solid #adadad;
	    background-color: #f0f0f0;
	    width: 28px;
	    height: 20px;
	    vertical-align: text-top;
	    margin: 0 10px 0 0;
    }
</style>

<span>
    <button onclick="@OnClick" class="ui-button" >
        <img src="images/Find.png" style="padding: 0 0 7px"/>
    </button>
    <span>@Value</span>
</span>
