@using Radzen
@using Radzen.Blazor
@using Microsoft.AspNetCore.Components
@using ProSuite.DdxEditor.Content.Blazor.ViewModel

@inherits TestParameterValueDataGridBlazorBase

<div class="container-fluid">
	<div class="row">
		<div class="col-auto">
			<UpDownButtonsBlazor Grid="DataGrid" @bind-Selected="SelectedRow" OnUpClicked="OnUpClicked" OnDownClicked="OnDownClicked" OnDeleteClicked="OnDeleteClicked"/>
		</div>
		<div class="col">
			<RadzenDataGrid @ref="DataGrid"
			                TItem="ViewModelBase"
			                Data="ViewModel.Values"
			                SelectionMode="DataGridSelectionMode.Single"
			                AllowColumnResize="true"
			                AllowRowSelectOnRowClick="true"
			                @bind-Value="SelectedRows"
			                RowClick="OnRowClick">
				<Columns>
					<RadzenDataGridColumn TItem="ViewModelBase" Property="ParameterName" Title="Parameter" Width="150px"/>
					<RadzenDataGridColumn TItem="ViewModelBase" Resizable="false" Width="38px">
						<Template Context="viewModel">
							@if (viewModel is DatasetTestParameterValueViewModel vm)
							{
								<RadzenImage Path="@vm.ImageSource"></RadzenImage>
							}
						</Template>
					</RadzenDataGridColumn>
					<RadzenDataGridColumn TItem="ViewModelBase" Property="Value" Title="Value">
						<Template Context="subViewModel">
							<DynamicComponent Type="subViewModel.ComponentType" Parameters="subViewModel.ComponentParameters"/>
						</Template>
					</RadzenDataGridColumn>

					<!-- TEST: In the future, we should support an expression (builder). -->
					<RadzenDataGridColumn TItem="ViewModelBase" Property="RowFilters" Title="Row Filter" Width="120px">
						<Template Context="subViewModel">
							@if (subViewModel is DatasetTestParameterValueViewModel vm)
							{
								<DynamicComponent Type="@typeof(RowFilterViewBlazor)" Parameters="vm.ComponentParameters"/>
							}
						</Template>
					</RadzenDataGridColumn>

					<RadzenDataGridColumn TItem="ViewModelBase" Property="FilterExpression" Title="Filter Expression">
						<Template Context="subViewModel">
							@if (subViewModel is DatasetTestParameterValueViewModel vm)
							{
								@vm.FilterExpression
							}
						</Template>
						<EditTemplate Context="subViewModel">
							@if (subViewModel is DatasetTestParameterValueViewModel vm)
							{
								<RadzenTextBox @bind-Value="vm.FilterExpression" Style="width: 100%;"/>
							}
						</EditTemplate>
					</RadzenDataGridColumn>
					<RadzenDataGridColumn TItem="ViewModelBase" Property="UsedAsReferenceData" Title="Reference" Width="80px">
						<Template Context="subViewModel">
							@if (subViewModel is DatasetTestParameterValueViewModel vm)
							{
								<RadzenCheckBox @bind-Value="vm.UsedAsReferenceData"/>
							}
						</Template>
						<EditTemplate Context="subViewModel">
							@if (subViewModel is DatasetTestParameterValueViewModel vm)
							{
								<RadzenCheckBox @bind-Value="vm.UsedAsReferenceData"/>
							}
						</EditTemplate>
					</RadzenDataGridColumn>
				</Columns>
			</RadzenDataGrid>
		</div>
	</div>
</div>
