@using Radzen
@using Radzen.Blazor

@*<RadzenButton ButtonStyle="ButtonStyle.Light" Click="OnClick"/>*@
<button onclick="@OnClick" style="border-radius: 0; border: 1px solid #adadad; background-color: #f0f0f0;" >
    <img src="images/Find.png" />
</button>
@Value
