@using ProSuite.DdxEditor.Content.Blazor.ViewModel
@using Radzen
@using Radzen.Blazor
<span>
    <button onclick="@OnClick" class="ui-button" >
        <img src="images/Find.png" style="padding: 0 0 7px"/>
    </button>

    <button onclick="@OnClickRemove" class="ui-button" >
        <img src="images/Remove.png" style="padding: 0 0 7px"/>
    </button>

    <span>@Value</span>
</span>
