@using Radzen.Blazor
<div class="row">

	<div class="col-1" style="width: 30px; padding-left: 4px; padding-top: 3px">
		<button onclick="@OnSqlExpressionBuilderClicked" class="ddx-button">
			<img alt="Query Builder" src="images/QueryBuilder.png" style="padding: 0 0 3px 3px"/>
		</button>
	</div>
	<div class="col w-100" style="border: unset">
		<RadzenTextBox @bind-Value="Value" oninput="@(OnInput)"/>
	</div>
	<div class="col-auto" style="padding-left: unset">
		@if (! string.IsNullOrEmpty(Value))
		{
			<div class="clear rzi-times rzi" onclick="@OnClickResetValue"></div>
		}
	</div>
</div>

