<style>
	.error-message { font-style: italic }
</style>

@*<span @ref="_element" onmouseover="@(() => OnMouseOver(_element))">*@
<div class="row" @ref="_element">
	<div class="col">
		@ChildContent
	</div>
	@if (! string.IsNullOrEmpty(ImagePath))
	{
		<div class="col-auto" style="width: 150px">
			<img src="@ImagePath" alt="error" style="padding: 0 2px 1px"/>
			@ErrorMessage
		</div>
	}
</div>
