@using Microsoft.AspNetCore.Components.Web
@using ProSuite.UI.QA
@using Radzen
@using Radzen.Blazor

@*@inject QualityConditionPresenter presenter*@
@*@inject IFoo _obj*@

<h1>Quality Condition</h1>

<RadzenDataGrid @ref="DataGrid" 
                TItem="ParameterValueListItem"
                EditMode="DataGridEditMode.Multiple">
    <Columns>
        <RadzenDataGridColumn TItem="ParameterValueListItem" Property="ParameterName" Title="Parameter"/>
        <RadzenDataGridColumn TItem="ParameterValueListItem" Property="Value" Title="Value"/>
        <RadzenDataGridColumn TItem="ParameterValueListItem" Property="ModelName" Title="Data Model"/>
        <RadzenDataGridColumn TItem="ParameterValueListItem" Property="FilterExpression" Title="Filter Expression"/>
        <RadzenDataGridColumn TItem="ParameterValueListItem" Property="UsedAsReferenceData" Title="Reference"/>
    </Columns>
</RadzenDataGrid>
